@model SerwisGitar.Models.DbModels.GuitarPart

@{
    ViewBag.Title = "Usuń";
}

<div>
    <h4>Czy jesteś pewien?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Typ części
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartType.Name)
        </dd>

        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Zdjęcie
        </dt>

        <dd>
            <img src="@Model.ImageUrl" width="200px"/> 
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="">
            <input type="submit" value="Usuń" class="btn btn-danger" /> |
            @Html.ActionLink("Wróć", "Index", null , new { @class="btn btn-primary"})
        </div>
    }
    

</div>
