@model IEnumerable<SerwisGitar.Models.DbModels.GuitarPart>

@{
    ViewBag.Title = "Index";
}

<h2>Lista części</h2>

<p>
    @Html.ActionLink("Dodaj nową", "Create", null, new { @class="btn btn-success"})
</p>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th>
            Typ 
        </th>
        <th>
            Nazwa
        </th>
        <th>
            Zdjęcie
        </th>
        <th></th>
    </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@item.ImageUrl" width="100px"/>
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.GuitarPartId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.GuitarPartId })
        </td>
    </tr>
}

</table>
