@model SerwisGitar.Models.DbModels.CustomInstrument

@{
    ViewBag.Title = "Szczegóły";
}

<h4>Typ: @Model.Instrument.Name</h4>
<hr/>

@foreach (var item in Model.CustomInstrumentParts)
{
    <h5>@item.GuitarPart.PartType.Name - @item.GuitarPart.Name</h5>
}
<h5>Kolor podstawowy: <span style="background: @Model.PrimaryColor">@Model.PrimaryColor</span> </h5>
<h5>Kolor dodatkowy: <span style="background: @Model.SecondaryColor">@Model.SecondaryColor</span> </h5>

@if (ViewBag.OrderId == null)
{
    @Html.ActionLink("Wróć", "Index", "ShoppingCart", new { id = ViewBag.OrderId }, new { @class="btn btn-primary"})
}
else
{
    @Html.ActionLink("Wróć", "OrderDetails", "Orders", new { id = ViewBag.OrderId }, new { @class = "btn btn-primary" })
}
