@using System.Activities.Expressions
@model SerwisGitar.ViewModels.CustomInstruments.CustomInstrumentViewModel
@{
    ViewBag.Title = "Personalizowanie gitary";
    int classNumber = 0;
    ViewBag.Active = "CustomInstruments";
}

<h2>Personalizowanie gitary</h2>

<h6>Do ceny instrumentu należy dodać kwotę adekwatną do wartości części montowanych na życzenie klienta.</h6>
@using (Html.BeginForm("Save", "CustomInstruments", FormMethod.Post, new { @class = "accordion", id = "accordionExample" }))
{
    @*<form class="accordion" id="accordionExample">*@


    <div class="card">
        <div class="card-header" id="headingRodzaj">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseRodzaj" aria-expanded="false" aria-controls="collapseRodzaj">
                    Rodzaj <span class="selectedItem"></span>
                </button>
            </h2>
        </div>
        <div id="collapseRodzaj" class="collapse show" aria-labelledby="headingRodzaj" data-parent="#accordionExample">
            <div class="card-body grid-body">
                @foreach (var instrument in Model.Instruments)
                {
                    <label class="card c@(classNumber)" for="@instrument.Name">
                        <img class="card-img-top" src="@instrument.ImageUrl" alt="Card image cap">
                        <input type="radio" id="@instrument.Name" name="Instrument.InstrumentId" value="@instrument.InstrumentId" class="inputHidden" />
                        <div class="flexEnd">
                            @*<h5 class="card-title">@item.Name</h5>*@
                            <p class="card-text">@instrument.Name</p>
                        </div>
                    </label>

                }
                @{
                    classNumber++;
                }
            </div>
        </div>
    </div>


    for (int i = 0; i < Model.PartTypes.Count; i++)
    {
        <div class="card">
            <div class="card-header" id="heading@(Model.PartTypes[i].PartTypeId)">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse@(Model.PartTypes[i].PartTypeId)" aria-expanded="false" aria-controls="collapse@(Model.PartTypes[i].PartTypeId)">
                        @Model.PartTypes[i].Name <span class="selectedItem"></span>
                    </button>
                </h2>
            </div>
            <div id="collapse@(Model.PartTypes[i].PartTypeId)" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body grid-body">

                    @for (int j = 0; j < Model.PartTypes[i].GuitarParts.Count; j++)
                    {
                        <label class="card c@(classNumber)">
                            @Html.RadioButtonFor(d => Model.SelectedParts[i].GuitarPartId, @Model.PartTypes[i].GuitarParts[j].GuitarPartId, new { @class = "inputHidden" })
                            <img class="card-img-top" src="@Model.PartTypes[i].GuitarParts[j].ImageUrl" alt="@j">

                            <div class="flexEnd">
                                <p class="card-text">@Model.PartTypes[i].GuitarParts[j].Name</p>
                            </div>
                        </label>

                    }
                    @{
                        classNumber++;
                    }

                </div>
            </div>
        </div>
    }


    <div class="card">
        <div class="card-header" id="headingKolory">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseKolory" aria-expanded="false" aria-controls="collapseKolory">
                    Kolory
                </button>
            </h2>
        </div>
        <div id="collapseKolory" class="collapse" aria-labelledby="headingKolory" data-parent="#accordionExample">
            <div class="card-body">

                <div class="form-group">
                    @Html.LabelFor(model => model.Instruments, "Kolor przód", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="color" id="favcolor" name="PrimaryColor" value="#FAFAFA" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Instruments, "Kolor tył + gryf", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="color" id="favcolor" name="SecondaryColor" value="#000" class="form-control">
                    </div>
                </div>

                <h6 class="col-md-10" style="color: crimson; font-style: italic">Efekt końcowy może różnić się od koloru wyświetlanego na ekranie, dlatego zostanie on doprecyzowany przy osobistej wizycie.</h6>
            </div>
        </div>
    </div>

    if (User.Identity.IsAuthenticated)
    {
        <h5 style="color: crimson; font-style: italic; margin: 20px 0 0 0; display: none" id="info" class="hidden">Uzupełnij wszystkie pola</h5>
        <button class="btn btn-success" id="btn-submit" style="margin-top: 20px;">Dodaj do koszyka</button>
    }
    else
    {
        @Html.ActionLink("Zaloguj  się aby przejść dalej", "Login", "Account",
            new { returnUrl = Url.Action("Index") }, new { @class = "btn btn-info", style = "margin-top: 20px;" })
    }
}







<style>
    .grid-body {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 20px;
        cursor: pointer;
    }


    .inputHidden {
        position: absolute;
        /*opacity: 0;*/
        /*transform: translateX(50%);*/
        left: 30px;
        top: 20px;
        width: 0;
        height: 0;
    }

    .flexEnd {
        padding: .5rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

        .card img {
            width: 100%;
            /*height: 100%;*/
            padding: 5px;
        }

    .selectedItem {
        color: green;
        font-weight: bold;
    }


    .mainCaption {
        width: 100%;
        border-bottom: 2px solid rgba(0, 0, 0, 1);
        border-radius: 0 4px;
    }


    .boxShadow {
        -webkit-box-shadow: 0px 0px 31px -9px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 31px -9px rgba(0,0,0,1);
        box-shadow: 0px 0px 31px -9px rgba(0,0,0,1);
    }
</style>

@section Scripts{
    <script src="~/Content/customInstrument.js"></script>
}