@model IEnumerable<SerwisGitar.Models.DbModels.Instrument>

@{
    ViewBag.Title = "Index";
}

<h2>Instrumenty</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Save")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Save", new { id=item.InstrumentId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.InstrumentId })
        </td>
    </tr>
}

</table>
