<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_Navbar")

    <div class="container body-content" style="margin-top: 70px; min-height: 75vh">
        @RenderBody()


    </div>
@if (ViewBag.DisableFooter != true)
{
    <hr />
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - WOBSerwis</p>
    </footer>
}


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".dropdown-toggle").dropdown();
        });
    </script>
</body>
</html>
