@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{


    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="@Url.Action("Index","ShoppingCart")" class="nav-link">
                <svg class="bi bi-bucket" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1.5A4.5 4.5 0 003.5 6h-1a5.5 5.5 0 1111 0h-1A4.5 4.5 0 008 1.5z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M1.61 5.687A.5.5 0 012 5.5h12a.5.5 0 01.488.608l-1.826 8.217a1.5 1.5 0 01-1.464 1.175H4.802a1.5 1.5 0 01-1.464-1.175L1.512 6.108a.5.5 0 01.098-.42zm1.013.813l1.691 7.608a.5.5 0 00.488.392h6.396a.5.5 0 00.488-.392l1.69-7.608H2.624z" clip-rule="evenodd"/>
                </svg>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profil
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @Html.ActionLink("Edytuj profil", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Edytuj", @class = "dropdown-item"})

                @if (User.IsInRole("Admin"))
                {
                    <a class="dropdown-item" href="@Url.Action("Index", "Admin")">Menu admina</a>
                }

                <div class="dropdown-divider"></div>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
                {
                    @Html.AntiForgeryToken()
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
                }
            </div>
        </li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="dropdown-item" })</li>
    </ul>
}
