@model SerwisGitar.Models.DbModels.MainGallery

@{
    ViewBag.Title = "Galeria";
    ViewBag.Active = "Gallery";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@Model.Title</h1>
        <p class="lead">@Model.Description</p>
    </div>
</div>

@if (Model.ServiceGallery != null)
{
    <h2>Serwis</h2>
    <div class="gallery">
        @foreach (var imageGallery in Model.ServiceGallery.ImageGalleries)
        {
            <img src="@imageGallery.Image.Url" alt="@imageGallery.Image.Name" class="img-thumbnail">
        }
    </div>
}
    @if (Model.OurInstruments != null)
    {
        <h2 style="margin-top: 50px;">Nasze instrumenty</h2>
        <div class="gallery">
            @foreach (var imageGallery in Model.OurInstruments.ImageGalleries)
            {
                <img src="@imageGallery.Image.Url" alt="@imageGallery.Image.Name" class="img-thumbnail">
            }
        </div>
    }

    <style>
        .gallery {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    </style>
