@model SerwisGitar.ViewModels.Home.HomeServicesViewModel


@{
    ViewBag.Title = "Złóż zamówienie";
    ViewBag.Active = "Services";
}

<h2>Zamawianie usługi</h2>


<hr />



<h4 style="margin-bottom: 20px">1. Wybierz rodzaj instrumentu</h4>

@*<div class="contentGrid">*@
<div class="grid-body form-check">
    @foreach (var item in Model.Instruments)
    {
        <label class="card" for="@item.Name">
            <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
            <input type="radio" id="@item.Name" name="productId" value="@item.InstrumentId" />
            <div class="card-body">
                @*<h5 class="card-title">@item.Name</h5>*@
                <p class="card-text">@item.Name</p>
            </div>
        </label>
    }
</div>



<p style="font-style: italic; color: crimson; margin: 2rem 1rem;">
    Uwaga, wszystkie usługi są opisane ogólnie. Cena każdej usługi może się różnić ze względu na faktyczny stan instrumentu lub dodatkowe wymagane prace i poprawki.
    <br />
    Wszystkie pozostałe kwestie lub szczegóły należy uzgodnić z przedstawicielem serwisu telefonicznie bądź mailowo.
</p>


@using (Html.BeginForm("AddToCart", "ShoppingCart", FormMethod.Post, new { @id = "form", style="min-height: 18rem" }))
{

}

@Html.Hidden("IsAuthenticated", User.Identity.IsAuthenticated, new { id = "IsAuthenticated" })
@*@User.Identity.IsAuthenticated*@

@*<div style="position: fixed; bottom: 5rem; right: 20rem;">
    <h4>Cena razem ~ <span class="totalPrice">0</span>zł</h4>
</div>*@

@section Scripts{
    <script src="~/Content/script.js"></script>

    <script>


        $('input[type=radio][name=productId]').change(function () {
            //alert();;
        });

        var labels = $('label');

        $(labels).on('click', function () {
            LabelManager(labels, $(this));
        });


        function LabelManager(arrayOfLabels, clickedElement) {
            for (var i = 0; i < arrayOfLabels.length; i++) {
                $(arrayOfLabels[i]).removeClass("shadow__");
            }

            $(clickedElement).addClass("shadow__");
        }
    </script>
}

<style>

    form {
        /*min-height: 19rem;*/
        /*background: red;*/
    }

    .grid-body {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px;
        cursor: pointer;
        /*border: 1px solid red;*/
    }

    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }



    .card-body {
        display: flex;
        align-items: flex-end;
    }

    .card img {
        width: 100%;
        padding: 5px;
    }


    .mainCaption {
        width: 100%;
        border-bottom: 2px solid rgba(0, 0, 0, 1);
        border-radius: 0 4px;
    }


    .shadow__ {
        -webkit-box-shadow: 0px 0px 31px -9px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 31px -9px rgba(0,0,0,1);
        box-shadow: 0px 0px 31px -9px rgba(0,0,0,1);
    }
</style>

