@model SerwisGitar.Models.DbModels.Service

@{
    ViewBag.Title = "Usuń";
}


<div>
<h4>Czy jesteś pewien, że chesz to usunąć?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Typ usługi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceType.Name)
        </dd>

        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Cena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" /> |
            @Html.ActionLink("Wróć", "Index" , null, new { @class="btn btn-primary" })

        </div>
    }
</div>
