@model List<SerwisGitar.Models.DbModels.Order>
@{
    ViewBag.Title = "Aktywne zamówienia";
}

<p>
    @Html.ActionLink("Wróć", "Index", "Admin")
</p>
<table class="table">
    <tr>
        <th>
            Id zamówienia
        </th>
        <th>
            Data zamówienia
        </th>
        <th>Szczegóły</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @using (Html.BeginForm("AddOrder", "OrdersManagement", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", item.OrderId)
                    <button type="submit" class="btn btn-success">Zarządzaj</button>
                }
            </td>
        </tr>
    }

</table>